<div class="banner">
	<%= image_tag("banner.jpg", :class => 'img-landscape') %>
	<div class="text-center">
		<h1> Hey you !</h1>
		<h3>Wanna join us ?</h3>
	</div>
		<div class= "join">
			<a href="#sign-up" class= "button2"> Join </a>
		</div>

</div>