.articles{
	display: flex;
	justify-content: space-between;
	font-family: 'Roboto Mono', monospace;
	flex-direction: column;
	border:1px solid #ffc400;
}

.image img{
	width: 200px;
	height: 200px;
	float: left;
	margin-right: 10px;
	box-shadow: 0.5px 0.5px #ffc400, 1px 1px #ffc400, 1.5px 1.5px #ffc400, 2px 2px #ffc400, 2.5px 2.5px #ffc400, 3px 3px #ffc400, 3.5px 3.5px #ffc400, 4px 4px #ffc400;
}

.image .article{
	text-align: justify;

}

.article{
	overflow: hidden;
	position: relative;
	padding: 15px;
	border:1px solid #ffc400;
}
p{
	text-align: justify;
}
h3{
	color: #ffc400;
	
}
