.button {
	-moz-box-shadow: 3px 4px 0px 0px #ffc400;
	box-shadow: 0.5px 0.5px #ffc400, 1px 1px #ffc400, 1.5px 1.5px #ffc400, 2px 2px #ffc400, 2.5px 2.5px #ffc400, 3px 3px #ffc400, 3.5px 3.5px #ffc400, 4px 4px #ffc400;
	background-color:transparent;
	border:1px solid #ffc400;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
}
.button:hover {
	box-shadow: 1px 1px #ffc400, 2px 2px #ffc400, 3px 3px #ffc400, 4px 4px #ffc400, 5px 5px #ffc400, 6px 6px #ffc400, 7px 7px #ffc400, 8px 8px #ffc400;
}
.button:active {
	position:relative;
	top:1px;
}
.button2{
	-moz-box-shadow: 3px 4px 0px 0px #ffc400;
	box-shadow: 1px 1px #ffc400, 2px 2px #ffc400, 3px 3px #ffc400, 4px 4px #ffc400, 5px 5px #ffc400, 6px 6px #ffc400, 7px 7px #ffc400, 8px 8px #ffc400;
	background-color:#ffff;
	border:1px solid #ffc400;
	display:inline-block;
	cursor:pointer;
	color:#000;
	font-family:'Archivo Black', sans-serif;
	font-size: 30px;
	font-weight:bold;
	padding: 24px 88px;
	text-decoration:none;
}

.button2:hover {
	box-shadow: 2px 2px #ffc400, 4px 4px #ffc400, 6px 6px #ffc400, 8px 8px #ffc400, 10px 10px #ffc400, 12px 12px #ffc400, 14px 14px #ffc400, 16px 16px #ffc400;
}
.button2:active {
	position:relative;
	top:1px;
}