<div class="footer">
	
	<div class="twitter">
		<%= image_tag("twitter.png", :class => 'img-twitter') %>
	</div>
	<div class="facebook">
		<%= image_tag("facebook.png", :class => 'img-facebook') %>
	</div>
	<div class="linkedin">
		<%= image_tag("linkedin.png", :class => 'img-linkedin') %>
	</div>
</div>

<p>Made with love at Rennes by : Sandrine Le Breton.</p>