<div class = "navbar">
	 <h1 class = "text-shadow-pop-right">YEAH !</h1>
	 <div class="container-header">
	 	<div>
     		<a href="#home"class= "button">Home</a>
	 		<a href="#news" class = "button">News</a>
	 		<a href="#contact" class= "button">Contact</a>
	 		<a href="#about" class= "button">About</a>
	 	</div>
	 	<div class="avatar">
     		 <%= image_tag("profile.jpg", :class => 'img-avatar') %>
     	</div>
	 </div>
</div>